.value-css {
    color: white !important;
    padding: 0 0 0 17px !important;
}

// 22/12
// .it-qt p:nth-child(3) span {
//     display: none;
// }
// 03-02
.shipping_info {
    padding: 20px !important;
}

.texable_amt {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #FFCD11;
}