<app-header></app-header>
<div class="content_section w-100 float-left">
    <div class="container">
        <div class="header_float">
            <div class="bread_crumb">
                <h1 class="mb-0">
                    <a routerLink="/customer/home"><img class="mr-2" width="30" src="../../../../assets/images/back-arrow.png" alt=""></a> {{'Home'|translate}} > <span><b>{{'My Plan'|translate}}</b></span> </h1>
            </div>
        </div>
        <div class="row custom_row m-0">
            <div class="w-100 float-left p-0">
                <div class="row m-0">
                    <div class="container p-0">
                        <div class="my-plan-caption">
                            <h4 class="wrapper_title text-white mt-4 mb-4">{{'My Plan'|translate}}</h4>
                            <div class="new assiss-checkbox w-100">
                                <form>
                                    <div class="form-group">
                                        <input type="checkbox" id="html" (click)="_get_pm_schedule_summary()">
                                        <label for="html">{{'View All'|translate}} </label>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="assistant-slider">
                            <div class="arrow-alft-caption">
                                <div class="select-eqip">
                                    <span>{{'SELECT AN EQUIPMENT TO'|translate}} <strong>{{'View Specific Plan'|translate}}</strong> </span>
                                </div>
                                <div class="t-right nav-arrow">
                                    <span class="change-btn prev" (click)="scrollTab(-1)" [class.hide]="atStart">
                    <img src="../../../assets/images/left-arrow.png">
                  </span>
                                    <span class="change-btn next" [class.hide]="atEnd" (click)="scrollTab(1)">
                    <img src="../../../assets/images/right-arrow.png">
                  </span>
                                </div>
                            </div>
                            <div class="hm-pg-tab assis-hm-pg-tab">
                                <section class="tabs-container">
                                    <ul *ngFor="let fleets of FleetsList; let i=index" class="tabs" [ngStyle]="{'transform': abc }">
                                        <li class="tab" [class.active]="selectedIndex===i" (click)="selectTab(i)">
                                            <div class="assis-card-parent">
                                                <div class="assis-card-left">
                                                    <img [src]=fleets.imageWeb [alt]=fleets.assetName onerror="this.src='../../../assets/images/no-image.png'" width="120px">
                                                </div>
                                                <div class="assis-card-right">
                                                    <p><strong>{{fleets.modelOfAsset}}</strong> {{fleets.assetName}}</p>
                                                    <div class="acr-deferd">
                                                        <label>{{'Serial'|translate}}:</label> <span>{{fleets.serialNumber}}</span>
                                                    </div>
                                                    <!-- <div class="acr-deferd">
                            <label>SMU {{'Hours'|translate}}:</label> <span>-</span>
                          </div>
                          <div class="acr-deferd">
                            <label>AMC {{'Validity'|translate}}:</label> <span>-</span>
                          </div> -->

                                                    <div class="acr-deferd">
                                                        <button (click)="route_health(i)">{{'View Details'|translate}}</button>


                                                        <button style="margin: 0 0 0 9px;" (click)="_get_pm_schedule_summary(fleets.serialNumber)">{{'My PM'|translate}}</button>
                                                    </div>

                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </section>
                            </div>
                        </div>
                        <!-- <div class="raise-req-button">
                            <button class="rais-req-btn btn">Raise Request</button>
                        </div> -->

                        <!-- tab -->
                        <div class="assistant-tab-section myplan-assistant-tab-section mplan-tab-new-sec">
                            <ul ngbNav #nav="ngbNav" class="nav-tabs my-plan-upcmg-nav-tabs">
                                <span class="tab-caption">{{ dynamicLabel |translate}}</span>
                                <li ngbNavItem (click)="setLabel('pm')">
                                    <a ngbNavLink><span class="tab-circle green-circle"></span>{{'UPCOMING PREVENTIVE MAINTENANCE SCHEDULES'|translate}} </a>
                                    <ng-template ngbNavContent>

                                        <div class="accordion_wrapper my-assis-tab-card mb-4" *ngIf="PMSchduleSummaryList?.rows.length > 0 ; else elseplanNoData">
                                            <ng-container>
                                                <div class="accordion_row mb-3" *ngFor="let item of PMSchduleSummaryList?.rows">
                                                    <div class="bg_color_panel col-lg-12 p-0" *ngIf="item[1] != null">
                                                        <div class="row m-0">
                                                            <div class="col-xl-6 col-12 matc-card-part p-0">
                                                                <div class="row m-0">
                                                                    <div class="col-xl-6 col-12 p-0 d-1">
                                                                        <label>{{'Model'|translate}} #</label>
                                                                        <span class="matc matc-grey">{{_split_char(item[4])[0] || '--'}}</span>
                                                                    </div>
                                                                    <div class="col-xl-6 col-12 p-0 d-2">
                                                                        <label>{{'Incident Id'|translate}}</label>
                                                                        <span class="matc matc-grey">{{item[0] || '--'}}</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-6 col-12 matc-card-part p-0">
                                                                <div class="row m-0">
                                                                    <div class="col-xl-4 col-12 p-0 d-1">
                                                                        <label>{{'Serial'|translate}} </label>
                                                                        <span class="matc">{{ item[1] || '-'}}</span>
                                                                    </div>
                                                                    <div class="col-xl-4 col-12 p-0 matc-card-part-center">
                                                                        <p class="mpu-descrip-green">
                                                                        </p>
                                                                        <label>{{'Visits Completed'|translate}}</label>
                                                                        <span class="matc matc-center">{{ item[3] || '0'}}</span>
                                                                        <!-- <p class="mpu-descrip-orange"><img src="../../assets/images/mpu-wall-clock.png" />
                                        {{'Visits Pending'|translate}} :  {{item[3] || '0'}}</p> -->
                                                                    </div>
                                                                    <div class="col-xl-4 col-12 p-0 d-2">
                                                                        <label>{{'Next'|translate}} PM {{'Date'|translate}}</label>
                                                                        <span class="matc">{{item[2] != null?splitdate(item[2])[0]:'--'}}</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card-descrip-section">
                                                            <div class="row m-0">

                                                                <!-- <div class="col-xl-5 col-12 p-0 tab-anchor-section" *ngIf="item[0] != null">
                                    <input type="datetime-local"   id="dateInput" name="reqDate" (change)="requestInovice(item[0],$event)">
                                  </div> -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-container>


                                            <!-- <div class="accordion_row mb-3">
                        <div class="bg_color_panel col-lg-12 p-0">
                          <div class="row m-0">
                            <div class="col-xl-6 col-12 matc-card-part p-0">
                              <div class="row m-0">
                                <div class="col-xl-6 col-12 p-0 d-1">
                                  <label>Ticket Number</label>
                                  <span class="matc-green matc">TICK124686</span>
                                </div>
                                <div class="col-xl-6 col-12 p-0 d-2">
                                  <label>Seriel #</label>
                                  <span class="matc matc-grey">K7C01126</span>
                                </div>
                              </div>
                            </div>
                            <div class="col-xl-6 col-12 matc-card-part p-0">
                              <div class="row m-0">   
                                <div class="col-xl-6 col-12 p-0 d-1">
                                  <label>Subject</label>
                                  <span class="matc">Breakdown Help</span>
                                </div>
                                <div class="col-xl-6 col-12 p-0 d-2">
                                  <label>Updated Date</label>
                                  <span class="matc">09 Jan 2021</span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="card-descrip-section">
                            <div class="row m-0">
                              <div class="col-xl-7 col-12 p-0 des-part">
                                <label>Description</label>
                                <span class="des-part-span">Lorem ipsum, or lipsum as it is sometimes known, is dummy
                                  text used in laying out print, graphic or web designs.</span>
                              </div>
                              <div class="col-xl-5 col-12 p-0 tab-anchor-section">
                                <a href="#">See More Detail <img src="../../assets/images/arrow-right.png" /></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div> -->
                                            <!--  -->
                                            <!-- <div class="accordion_row mb-3">
                        <div class="bg_color_panel col-lg-12 p-0">
                          <div class="row m-0">
                            <div class="col-xl-6 col-12 matc-card-part p-0">
                              <div class="row m-0">
                                <div class="col-xl-6 col-12 p-0 d-1">
                                  <label>Ticket Number</label>
                                  <span class="matc-green matc">TICK124686</span>
                                </div>
                                <div class="col-xl-6 col-12 p-0 d-2">
                                  <label>Seriel #</label>
                                  <span class="matc matc-grey">K7C01126</span>
                                </div>
                              </div>
                            </div>
                            <div class="col-xl-6 col-12 matc-card-part p-0">
                              <div class="row m-0">
                                <div class="col-xl-6 col-12 p-0 d-1">
                                  <label>Subject</label>
                                  <span class="matc">Parts Delivery Issue</span>
                                </div>
                                <div class="col-xl-6 col-12 p-0 d-2">
                                  <label>Updated Date</label>
                                  <span class="matc">09 Jan 2021</span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="card-descrip-section">
                            <div class="row m-0">
                              <div class="col-xl-7 col-12 p-0 des-part">
                                <label>Description</label>
                                <span class="des-part-span">Lorem ipsum, or lipsum as it is sometimes known, is dummy
                                  text used in laying out print, graphic or web designs.</span>
                              </div>
                              <div class="col-xl-5 col-12 p-0 tab-anchor-section">
                                <a href="#">See More Detail <img src="../../assets/images/arrow-right.png" /></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div> -->
                                            <!-- <div class="accordion_row">
                        <div class="bg_color_panel col-lg-12 p-0">
                          <div class="row m-0">
                            <div class="col-xl-6 col-12 matc-card-part p-0">
                              <div class="row m-0">
                                <div class="col-xl-6 col-12 p-0 d-1">
                                  <label>Ticket Number</label>
                                  <span class="matc-green matc">TICK124686</span>
                                </div>
                                <div class="col-xl-6 col-12 p-0 d-2">
                                  <label>Seriel #</label>
                                  <span class="matc matc-grey">K7C01126</span>
                                </div>
                              </div>
                            </div>
                            <div class="col-xl-6 col-12 matc-card-part p-0">
                              <div class="row m-0">
                                <div class="col-xl-6 col-12 p-0 d-1">
                                  <label>Subject</label>
                                  <span class="matc">Breakdown Help</span>
                                </div>
                                <div class="col-xl-6 col-12 p-0 d-2">
                                  <label>Updated Date</label>
                                  <span class="matc">09 Jan 2021</span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="card-descrip-section">
                            <div class="row m-0">
                              <div class="col-xl-7 col-12 p-0 des-part">
                                <label>Description</label>
                                <span class="des-part-span">Lorem ipsum, or lipsum as it is sometimes known, is dummy
                                  text used in laying out print, graphic or web designs.</span>
                              </div>
                              <div class="col-xl-5 col-12 p-0 tab-anchor-section">
                                <a href="#">See More Detail <img src="../../assets/images/arrow-right.png" /></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div> -->
                                        </div>

                                        <ng-template #elseplanNoData>
                                            <div class="accordion_wrapper my-assis-tab-card mb-4">
                                                <ng-container>
                                                    <div class="accordion_row mb-3">
                                                        <h4 style="color: white;">{{"No Data Found !!!!" | translate}}</h4>
                                                    </div>
                                                </ng-container>
                                            </div>

                                        </ng-template>



                                    </ng-template>
                                </li>
                                <li ngbNavItem (click)="setLabel('health')">
                                    <a ngbNavLink><span class="tab-circle yellow-circle"></span>{{'HEALTH ALERTS' |translate}}</a>
                                    <ng-template ngbNavContent>
                                        <div class="new assiss-checkbox w-100">
                                            <form>
                                                <div class="form-group">
                                                    <input type="checkbox" id="html" (click)="_get_healthList()">
                                                    <label for="html">{{'View All'|translate}}</label>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="accordion_wrapper accordion_wrapper_white my-assis-tab-card mb-4" *ngIf=" healthAlert?.rows.length > 0 ; else elseHealthAlertNodata">
                                            <div class="accordion_row mb-3">
                                                <div class="bg_color_panel col-lg-12 p-0" *ngFor="let hlist of healthAlert.rows">
                                                    <div class="row m-0">
                                                        <div class="col-xl-6 col-12 matc-card-part p-0">
                                                            <div class="row m-0">
                                                                <div class="col-xl-6 col-12 p-0 d-1">
                                                                    <label>{{'Serial'|translate}} #</label>
                                                                    <span class=" matc">{{hlist[0]}}</span>
                                                                </div>
                                                                <!-- <div class="col-xl-6 col-12 p-0 d-2">
                                  <label>Fault Code</label>
                                  <span class="matc">C2549</span>
                                </div> -->
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-6 col-12 matc-card-part p-0">
                                                            <div class="row m-0">
                                                                <div class="col-xl-6 col-12 p-0 d-1">
                                                                    <label>{{'Lead Id'|translate}}</label>
                                                                    <span class="matc">{{hlist[1]}}</span>
                                                                </div>
                                                                <!-- <div class="col-xl-6 col-12 p-0 d-2">
                                  <label>Report Time</label>
                                  <span class="matc">210</span>
                                </div> -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-descrip-section">
                                                        <div class="row m-0">
                                                            <div class="col-xl-7 col-12 p-0 des-part">
                                                                <!-- <label>Health Alerts</label> -->
                                                                <!-- <span class="des-part-span">Equipment Operational with Handbrakes</span> -->
                                                            </div>
                                                            <div class="col-xl-5 col-12 p-0 tab-anchor-section">
                                                                <!-- <a href="#">See More Detail <img src="../../assets/images/arrow-right-yellow.png" /></a> -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <!-- <div class="accordion_row mb-3">
                        <div class="bg_color_panel col-lg-12 p-0">
                          <div class="row m-0">
                            <div class="col-xl-6 col-12 matc-card-part p-0">
                              <div class="row m-0">
                                <div class="col-xl-6 col-12 p-0 d-1">
                                  <label>Ticket Number</label>
                                  <span class="matc-green matc">TICK124686</span>
                                </div>
                                <div class="col-xl-6 col-12 p-0 d-2">
                                  <label>Seriel #</label>
                                  <span class="matc matc-grey">K7C01126</span>
                                </div>
                              </div>
                            </div>
                            <div class="col-xl-6 col-12 matc-card-part p-0">
                              <div class="row m-0">
                                <div class="col-xl-6 col-12 p-0 d-1">
                                  <label>Subject</label>
                                  <span class="matc">Breakdown Help</span>
                                </div>
                                <div class="col-xl-6 col-12 p-0 d-2">
                                  <label>Updated Date</label>
                                  <span class="matc">09 Jan 2021</span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="card-descrip-section">
                            <div class="row m-0">
                              <div class="col-xl-7 col-12 p-0 des-part">
                                <label>Description</label>
                                <span class="des-part-span">Lorem ipsum, or lipsum as it is sometimes known, is dummy
                                  text used in laying out print, graphic or web designs.</span>
                              </div>
                              <div class="col-xl-5 col-12 p-0 tab-anchor-section">
                                <a href="#">See More Detail <img src="../../assets/images/arrow-right-yellow.png" /></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div> -->

                                        </div>
                                        <ng-template #elseHealthAlertNodata>
                                            <div class="accordion_wrapper accordion_wrapper_white my-assis-tab-card mb-4">
                                                <div class="accordion_row mb-3">
                                                    <h4 style="color: black;">Coming Soon !!!</h4>
                                                </div>

                                            </div>

                                        </ng-template>
                                    </ng-template>
                                </li>

                            </ul>
                            <div [ngbNavOutlet]="nav"></div>
                        </div>
                        <!--End tab -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<app-footer></app-footer>