.tabs-container {
    position: relative;
    // height: 50px;
    max-height: 200px !important;
    padding: 0 2em;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.tabs {
    height: 30px;
    display: flex;
    align-items: center;
    flex-wrap: no-wrap;
    transform: translateX(0px);
    transition: transform 300ms ease-in-out;
}

.tab {
    width: 100px;
    height: 100%;
    padding-bottom: 1em;
    margin: 0 20px;
    flex-shrink: 0;
    text-align: center;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}

.tab.active {
    border-bottom-color: hotpink;
    transition: all 300ms linear;
}

.change-btn {
    height: 50px;
    width: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #b5b5b5;
    border-radius: 4px;
    position: absolute;
    top: 0;
    z-index: 10;
    background: white;
    cursor: pointer;
}

.change-btn.hide {
    cursor: not-allowed;
    pointer-events: none;
    color: #b5b5b5;
}

.change-btn.prev {
    left: 0;
}

.change-btn.next {
    right: 0;
}

.tab.active {
    border-bottom-color: unset!important;
    border-bottom: unset!important;
}

// popup
div.modal-dialog {
    max-width: 721px !important;
    width: 721px !important;
}

// 21/12/2012
.acr-deferd {
    position: unset !important;
    margin-right: 20px;
}

.c-a-part {
    text-align: left;
}

// .matc-card-part .d-2 {
//     text-align: left !important;
// }
@media only screen and (max-width: 700px) {
    .acr-deferd[_ngcontent-geo-c139] {
        position: unset !important;
        margin-right: 20px;
        width: 100%;
    }
    .acr-deferd {
        width: 100%;
    }
    .assistant-tab-section ul.nav-tabs.nav li.nav-item a {
        width: 280px;
        text-align: unset;
    }
}

@media only screen and (max-width: 450px) {
    section.tabs-container {
        padding-left: unset !important;
        width: 100%;
    }
    .assis-card-parent {
        flex-wrap: wrap;
    }
}

@media only screen and (min-width:768px) {
    // .matc-card-part .d-2{
    //   text-align: right !important;
    // }
    .matc-card-part .des-part {
        text-align: right !important;
    }
}