.tabs-container {
    position: relative;
    height: 50px;
    padding: 0 2em;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.tabs {
    height: 30px;
    display: flex;
    align-items: center;
    flex-wrap: no-wrap;
    transform: translateX(0px);
    transition: transform 300ms ease-in-out;
}

.tab {
    width: 100px;
    height: 100%;
    padding-bottom: 1em;
    margin: 0 20px;
    flex-shrink: 0;
    text-align: center;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}

.tab.active {
    border-bottom-color: hotpink;
    transition: all 300ms linear;
}

.change-btn {
    height: 50px;
    width: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #b5b5b5;
    border-radius: 4px;
    position: absolute;
    top: 0;
    z-index: 10;
    background: white;
    cursor: pointer;
}

.change-btn.hide {
    cursor: not-allowed;
    pointer-events: none;
    color: #b5b5b5;
}

.change-btn.prev {
    left: 0;
}

.change-btn.next {
    right: 0;
}

.tab.active {
    border-bottom-color: unset!important;
    border-bottom: unset!important;
}

// popup
div.modal-dialog {
    max-width: 721px !important;
    width: 721px !important;
}

.hp-conatiner-inner {
    padding: 20px 20px 20px 20px;
}

.no_record {
    border-radius: 5px;
    width: 450px;
    height: 50px;
    border: 0;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #000;
    padding-left: 20px;
}

button.btn.my-plan.req-ser.ng-star-inserted {
    margin-top: 10px;
}

.balval {
    font-weight: 800;
}


/* 03-02 */

button.btn.pay-btn:hover {
    color: white !important;
}

// 21/12/2021
@media only screen and (max-width: 1600px) {
    .hci-common-btn button.btn.req-ser,
    .hci-common-btn .ord-part,
    .hci-common-btn .my-plan {
        margin: 4px;
    }
}

@media only screen and (max-width: 992px) {
    .hp-content-base {
        overflow-y: auto;
    }
    .btn.pay-btn {
        width: 192px!important;
    }
}

@media only screen and (max-width: 767px) {
    .hci-common-btn {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width:329px) {
    .login-popup-pnt.lpp-hmpg-popup button.btn.btn-pay-now {
        margin-left: 0 !important;
        margin-top: 10px !important;
    }
}

.login-popup-pnt-right-btns {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@media only screen and (max-width:992px) {
    div.hp-conatiner-right.p-0 {
        padding-left: 0px !important;
    }
}


/* 03-02 */

@media only screen and (max-width:340px) {
    .hci-common-btn button.btn.req-ser,
    .hci-common-btn .ord-part,
    .hci-common-btn .my-plan {
        width: 100% !important;
    }
}