// 22/12
@media only screen  and (max-width:584px) {
      .modal-body.d-fl-wr.d-flex.align-items-center.justify-content-center
      {
            flex-wrap: wrap;
      }
      .cre-btn button{
            margin: 10px 10px;
      }
      .cre-sec-txt{
            text-align: center;
      }
      
}